@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* background: rgb(28, 28, 40); */
  /* background: rgb(172, 210, 217); */
}

/* Variables */
:root {
  --font-family: "Poppins", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --darkbgcolor: #0e0e1b;
  --blue: #013bb6;
  --bg-color: #161627;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
  --white: white;
  --black: black;
  --hover: #01579b;
  --text-color: #b2dfdb;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* navbar ========================================================*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "ubuntu", sans-serif;
  transition: all 0.3s ease;
  /* border: 1px solid red; */
  background-color: grey;
}

.navbar.sticky {
  padding: 15px 0;
  background: rgb(53, 53, 68);
  color: white;
}

.navbar.sticky .logo a span {
  color: white;
}

.navbar.sticky .menu li a:hover {
  color: white;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: white;
  font-size: 35px;
  font-weight: 600;
  /* margin-left: -60px; */
}

.navbar .logo a span {
  /* color: crimson; */
  color: aqua;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}

.navbar .menu li a:hover {
  /* color: crimson; */
  color: aqua;
}

/* home */

/* ========== Hero Section ==========  */

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-color);
  padding-top: 15rem;
  padding-bottom: 5rem;
  font-family: "ubuntu", sans-serif;
  background-color: var(--bg-color);
}

.header-container h1 {
  font-size: 30px;
  color: var(--white);
}

.content-text {
  margin-top: 1rem;
  font-weight: var(--normal-font);
}

#hero {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#resume {
  padding: 10px 13px;
  border: 1px solid var(--bg-color);
  margin-top: 2rem;
  display: inline;
  background-color: var(--blue);
  border-radius: 50% 0% 50% 0%;
  color: white;
  text-decoration: none;
  color: red;
}
#resumeBtn {
  color: red;
  width: 150px;
  height: 50px;
  text-decoration: none;
  margin-top: 50px;
  cursor: pointer;
}

#resume:hover {
  transition: var(--transition);
  background-color: var(--hover);
}

.profile-image {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 50px;
  /* animation: bounce 1s infinite alternate; */

}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-10px);
  }
}



.tags {
  font-size: 40px;
  margin: auto;
  text-align: center;
}




.about{
  position: relative;
  height: 35rem;
  text-align: center;
  background: #DDDDDD;
  
  background-color: whitesmoke
  
}

.navigate-about{
  height: 5rem;
}

.heading {
  width: 15%;
}

.heading h1{
  color: #444649;
  font-weight: bold;
  
}

.underline{
  position: relative;
  top: 1rem;
  width: 5%;
  height: 5px;
  background-color: #444649;
}

.row{
  position: relative;
  text-align: center;
  top: 4rem;
  width: 80%;
  /* border: 1px solid red; */
  font-family: "ubuntu", sans-serif;

  color: black;
  margin: auto;
}




.span-1-of-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 4rem;
}

.about-me{
  line-height: 1.6;
  font-size: 23px;
  font-weight: 500;

}



.picture{
  position: relative;
  width: 500px;
  height: 400px;
}


/* project section ------------------------------------------------ */

.project{
  /* background: rgb(28, 28, 40); */
  background: white;

}

.project .project1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;   
    
}

.project .project1{
    width: 100%;
    height: 350px;
  background: rgb(53, 53, 68);   
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


}

.project .project1 .left .img{
    width: 650px;
    margin-top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius:10px;
    margin-left: 10px;
}



.project .project1 .right{
    /* border: 1px solid red; */
    width: 40%;
    height: 80%;


}

.project .project1 .right .head{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(167, 165, 165);
    margin-bottom: 10px;

}
.project .project1 .right .sub-head a {
    font-size:17px;
    margin-top: 10px;
    margin-left:5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: rgb(167, 165, 165);
    

}
.project .project1 .right p {
    margin-left: 5px;
    margin-top:10px;
    width: 90%;
    font-size:17px;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: rgb(167, 165, 165);
}


.project .project1 .right .sub-head2{
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    margin-top: 15px;
    color: rgb(167, 165, 165);

}
.project .project1 .right .sub-head2 img{
    font-size: 20px;
    width: 10%;
    margin-top: 5px;
    margin-left:5px;
    padding: 5px 5px;
    border-radius: 10px;
    /* background-color: whitesmoke; */
}

/* ------------contact ------------*/
#contact{
   background-color: #161627;
   padding-left: 100px;
}
.contact-left{
  flex-basis: 35%;
  font-size: 25px;
  font-family: "ubuntu", sans-serif;

}
.contact-right{
  flex-basis: 60%;
}
.contact-left a{
  text-decoration: none;
  color: white;
}

.contact-left p{
  margin-top: 30px;
}
.contact-left i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;

}
.social-icons{
  margin-top: 30px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  color: #ababab;
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #ff004f;
  transform: translateY(-5px);

}
 #btn4{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid red;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: red;
  /* transition: 0.5s; */


}


.btn.btn2{
  margin: 50px;
}
#contact .container {
  display:flex;
  justify-content: space-between;
}
.contact-right form{

  width: 100%;

}
form input,form textarea{
  width: 90%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  /* //color: #fff; */
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
.contact-right form .btn2{
  display: inline-block;
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 0px;
  cursor: pointer;
  
}
form #btn3{
  background-color: transparent;
}


